:root {

    --cor-base: #333;
    --cor-menu: #003366;
    --cor-menu-lateral: #dcdcdc;
    --cor-menu-lateral-itens: #ffff;
}

.sacola {

    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;



}

.menu-opcoes {

    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;

}


.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;


}


.menu-opcoes a {
    color: var(--cor-menu);

}

body {
    color: var(--cor-base);
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;

}


header {
    position: relative;
}

.busca,
.menu-departamentos {
    background-color: var(--cor-menu-lateral);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;

}


.busca form,
.menu-departamentos h2 {
    margin: 10px;

}

.menu-departamentos li {
    background-color: var(--cor-menu-lateral-itens);
    margin-bottom: 1px;
    padding: 5px 10px;

}

.menu-departamentos a {
    color: var(--cor-base);
    text-decoration: none;

}

.busca input {
    vertical-align: middle;

}

.busca input [type=search]{
    width: 170px;

}
    


.menu-departamentos {

    margin-top: 10px;
    padding-bottom: 10px;
    clear: left;
}

.destaque {
    margin-top: 10px;
}