:root{
    --cor-primaria: #2a2633;
    --cor-secundaria:#5e30c9;
    --cor-destaque: #0e50ca;
    --cor-fundo-destaque:#e9f0ea;
}

h1{
    color: var(--cor-primaria);
}

h2{
    color: var(--cor-secundaria);
}

p{
    color:var(--cor-destaque);
    background-color: var(--cor-fundo-destaque);
}